html * {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: var(--accent)
}

.text {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 0em;
}

body {
    /* background-image: linear-gradient(#e66465, #9198e5); */
    background-image: url("sprites_imgs/animated_bg.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
}

.boxcolor::before {
    content: "";
    background-color: rgb(21, 4, 62);
    border-radius: 25px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 2%;
}

.overlay {
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
    background-color: var(--accent);
    border-radius: 15px;
    padding: 0px 0px;
}

:root {
    --accent: rgb(153, 119, 210);
}

.container {
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    width: 47%;
    display: inline-block;
}

h2 {
    font-size: 2.5rem;
}

li {
    font-size: 2.5rem;
}

.nav-background {
background-image: url("sprites_imgs/steam\ gif.gif");
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

/* .image:hover {
    transform: scaleX(-1);
    opacity: 0%;
    transition: 0.5s ease;
} */

.container:hover .overlay {
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: flex;
}

.headerLogo {
    width: 40px;
    height: 40px;
    margin-left: -16px;
    margin-right: 5px;
    margin-top: -10px;
    border-radius: 15px;
}

.embedded {
    height: 2em;
}